#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
tmp/
typings/
tests/reports/
lib/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
src/**/*.js


#---------------------------------
# IDE generated
#---------------------------------
.vscode/
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
